$background-color1 : #7C24F6;
$background-color2 : #6844ED;
$login-background1:#8314FA;
$login-background2:#693CED;

$input-background-color : #F5F5F5;;
$button-color : #FFFFFF;
$caption-color : #5F47E6;
$uto-pain-color : #6048E6;
$check-box-color:#343434;

